@page
@model Groceries.Pages.ConfirmationModel
@{
}
<h2>Confirmation Page</h2>
<h3 class="">Thank you for your purchase. Your payment has been processed…</h3>
<h3>Your invoce number is: <span class="text-success">@Model.InvoiceNumber</span></h3>