@page
@model Groceries.Pages.ConfirmationModel
@{
}
<h2>Confirmation Page</h2>
<h3>Thank you for your purchase. Your payment has been processed…</h3>
<h3>Your invoce number is: @Model.InvoiceNumber</h3>