@page
@model Groceries.Pages.DetailsModel

@{
    string imagePath = "/uploads/" + Model.Grocery.ImageFileName;
}
<div class="row">
    <div class="col">
        <div class="w-100">
            <img src="@imagePath" class="img-fluid" />
        </div>
    </div>


    <div class="col">
        <h3>@Model.Grocery.Name</h3>
        <h2>$@Model.Grocery.Price</h2>
        <p>@Model.Grocery.Description</p>
        <p>@Model.Grocery.PublishDate.ToString("D")</p>
        <p><a asp-page="./Index" class="btn btn-secondary">Add to Cart</a></p>
        <p><a asp-page="./Index" class="btn btn-secondary">Continue Shopping</a></p>
    </div>
</div>

