@page
@model Groceries.Pages.Admin.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Grocery</h1>

@{
    string imagePath = "/uploads/" + Model.Grocery.ImageFileName;
}

<div class="row">
    <div class="col-md-3">
        <img src="@imagePath" class="img-fluid" />
    </div>
    <div class="col-md-9">
        <form method="post">
            <input type="hidden" asp-for="Grocery.Id" />

            <h3>Are you sure you want to delete this?</h3>

            <input type="submit" value="Delete" class="btn btn-danger" />&nbsp;&nbsp;&nbsp;
            <a asp-page="./Index" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>