@page
@model Groceries.Pages.Admin.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Update Grocery</h1>

@{
    string imagePath = "/uploads/" + Model.Grocery.ImageFileName;
}


<div class="row">
    <div class="col-md-4">
        <img src="@imagePath" class="img-fluid" />

        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Grocery.Id" />
            <input type="hidden" asp-for="Grocery.PublishDate" />
            <input type="hidden" asp-for="Grocery.ImageFileName" />

            <div class="mb-3">
                Published: @Model.Grocery.PublishDate
            </div>

            <div class="mb-3">
                <label asp-for="Grocery.Name" class="control-label"></label>
                <input asp-for="Grocery.Name" class="form-control" />
                <span asp-validation-for="Grocery.Name" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Grocery.Description" class="control-label"></label>
                <input asp-for="Grocery.Description" class="form-control" />
                <span asp-validation-for="Grocery.Description" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Grocery.Price" class="control-label"></label>
                <input asp-for="Grocery.Price" class="form-control" />
                <span asp-validation-for="Grocery.Price" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="FileUpload" class="form-label"></label><br>
                <input asp-for="FileUpload" class="form-control" />
                @if (Model.FileUpload != null)
                {
                    <span asp-validation-for="FileUpload" class="text-danger"></span>
                } 
            </div>
            

            <div class="mb-3">
                <input type="submit" value="Save" class="btn btn-primary" />&nbsp;&nbsp;&nbsp;
                <a asp-page="./Index" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
