@page
@model Groceries.Pages.Admin.LogoutModel
@{
}

<h1>Logout</h1>

<p>Are you sure you want to logout?</p>

<form method="post">
    <input type="submit" value="Logout" class="btn btn-primary" />
</form>